/* styles used in various configuration or runtime related views */

.hal-execution-duration {
  align-items: center;
  display: flex;
  flex-basis: inherit;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
}

.hal-execution-time {
  width: 20em;
  margin-right: 40px;
}