@import "variables";
@import "mixins";

.modal-md {
  /*
   * Nothing attached to medium size. But still an own class to make it easier to add / remove size classes
   */
}

.modal-mx {
  width: 98%;
}

.modal-body {
  .form {
    background-color: white;
  }
  .edit-buttons {
    display: none;
  }
}