// Customizing Bootstrap and PatternFly payload according to
// http://blog.andresgalante.com/howto/2015/03/06/patternfly-part-2.html



/*
 * Fonts
 */
@import "../../../bower_components/patternfly/less/fonts";
@import "../../../bower_components/patternfly/less/lib/font-awesome/variables";
@import "../../../bower_components/patternfly/less/lib/font-awesome/mixins";
@import "../../../bower_components/patternfly/less/lib/font-awesome/path";
@import "../../../bower_components/patternfly/less/lib/font-awesome/core";
@import "../../../bower_components/patternfly/less/lib/font-awesome/larger";
@import "../../../bower_components/patternfly/less/lib/font-awesome/fixed-width";
@import "../../../bower_components/patternfly/less/lib/font-awesome/list";
@import "../../../bower_components/patternfly/less/lib/font-awesome/bordered-pulled";
@import "../../../bower_components/patternfly/less/lib/font-awesome/animated";
@import "../../../bower_components/patternfly/less/lib/font-awesome/rotated-flipped";
@import "../../../bower_components/patternfly/less/lib/font-awesome/stacked";
@import "../../../bower_components/patternfly/less/lib/font-awesome/icons";



/*!
 * Bootstrap v3.3.5 (http://getbootstrap.com)
 * Copyright 2011-2015 Twitter, Inc.
 * Licensed under MIT (https://github.com/twbs/bootstrap/blob/master/LICENSE)
 */

// Core variables and mixins (don't touch)
@import "../../../bower_components/patternfly/less/lib/bootstrap/variables";
@import "../../../bower_components/patternfly/less/lib/bootstrap/mixins";

// Reset and dependencies (don't touch)
@import "../../../bower_components/patternfly/less/lib/bootstrap/normalize";
@import "../../../bower_components/patternfly/less/lib/bootstrap/print";
@import "../../../bower_components/patternfly/less/lib/bootstrap/glyphicons";

// Core CSS (don't touch)
@import "../../../bower_components/patternfly/less/lib/bootstrap/scaffolding";
@import "../../../bower_components/patternfly/less/lib/bootstrap/type";
@import "../../../bower_components/patternfly/less/lib/bootstrap/code";
@import "../../../bower_components/patternfly/less/lib/bootstrap/grid";
@import "../../../bower_components/patternfly/less/lib/bootstrap/tables";
@import "../../../bower_components/patternfly/less/lib/bootstrap/forms";
@import "../../../bower_components/patternfly/less/lib/bootstrap/buttons";

// Components (disable components we don't use)
@import "../../../bower_components/patternfly/less/lib/bootstrap/component-animations";
@import "../../../bower_components/patternfly/less/lib/bootstrap/dropdowns";
@import "../../../bower_components/patternfly/less/lib/bootstrap/button-groups";
@import "../../../bower_components/patternfly/less/lib/bootstrap/input-groups";
@import "../../../bower_components/patternfly/less/lib/bootstrap/navs";
@import "../../../bower_components/patternfly/less/lib/bootstrap/navbar";
@import "../../../bower_components/patternfly/less/lib/bootstrap/breadcrumbs";
@import "../../../bower_components/patternfly/less/lib/bootstrap/pagination";
//@import "../../../bower_components/patternfly/less/lib/bootstrap/pager";
//@import "../../../bower_components/patternfly/less/lib/bootstrap/labels";
@import "../../../bower_components/patternfly/less/lib/bootstrap/badges";
//@import "../../../bower_components/patternfly/less/lib/bootstrap/jumbotron";
//@import "../../../bower_components/patternfly/less/lib/bootstrap/thumbnails";
@import "../../../bower_components/patternfly/less/lib/bootstrap/alerts";
@import "../../../bower_components/patternfly/less/lib/bootstrap/progress-bars";
//@import "../../../bower_components/patternfly/less/lib/bootstrap/media";
//@import "../../../bower_components/patternfly/less/lib/bootstrap/list-group";
@import "../../../bower_components/patternfly/less/lib/bootstrap/panels";
//@import "../../../bower_components/patternfly/less/lib/bootstrap/responsive-embed";
//@import "../../../bower_components/patternfly/less/lib/bootstrap/wells";
@import "../../../bower_components/patternfly/less/lib/bootstrap/close";

// Components w/ JavaScript
@import "../../../bower_components/patternfly/less/lib/bootstrap/modals";
@import "../../../bower_components/patternfly/less/lib/bootstrap/tooltip";
//@import "../../../bower_components/patternfly/less/lib/bootstrap/popovers";
//@import "../../../bower_components/patternfly/less/lib/bootstrap/carousel";

// Utility classes
@import "../../../bower_components/patternfly/less/lib/bootstrap/utilities";
@import "../../../bower_components/patternfly/less/lib/bootstrap/responsive-utilities";



/*
 * Bootstrap Select
 */
@import "../../../bower_components/patternfly/less/lib/bootstrap-select/variables";
@import "../../../bower_components/patternfly/less/lib/bootstrap-select/bootstrap-select";



/*
 * Bootstrap Switch
 */
@import "../../../bower_components/patternfly/less/lib/bootstrap-switch/bootstrap-switch";



/*
 * Tag Manager
 */
@import "../../../bower_components/tagmanager/tagmanager";



/*
 * PatternFly
 */
// Bootstrap overrides
@import "../../../bower_components/patternfly/less/variables";
@import "../../../bower_components/patternfly/less/mixins";
@import "../../../bower_components/patternfly/less/alerts";
@import "../../../bower_components/patternfly/less/badges";
@import "../../../bower_components/patternfly/less/breadcrumbs";
@import "../../../bower_components/patternfly/less/buttons";
@import "../../../bower_components/patternfly/less/dropdowns";
@import "../../../bower_components/patternfly/less/forms";
@import "../../../bower_components/patternfly/less/labels";
//@import "../../../bower_components/patternfly/less/list-group";
@import "../../../bower_components/patternfly/less/modals";
//@import "../../../bower_components/patternfly/less/pager";
@import "../../../bower_components/patternfly/less/pagination";
@import "../../../bower_components/patternfly/less/panels";
//@import "../../../bower_components/patternfly/less/popovers";
@import "../../../bower_components/patternfly/less/progress-bars";
@import "../../../bower_components/patternfly/less/tables";
@import "../../../bower_components/patternfly/less/tabs";
@import "../../../bower_components/patternfly/less/tooltip";
@import "../../../bower_components/patternfly/less/type";

// PatternFly Additions
@import "../../../bower_components/patternfly/less/variables";
//@import "../../../bower_components/patternfly/less/mixins";
@import "../../../bower_components/patternfly/less/blank-slate";
//@import "../../../bower_components/patternfly/less/bootstrap-combobox";
//@import "../../../bower_components/patternfly/less/bootstrap-datepicker";
@import "../../../bower_components/patternfly/less/bootstrap-select";
@import "../../../bower_components/patternfly/less/bootstrap-switch";
//@import "../../../bower_components/patternfly/less/bootstrap-treeview";
@import "../../../bower_components/patternfly/less/cards";
//@import "../../../bower_components/patternfly/less/charts";
@import "../../../bower_components/patternfly/less/close";
@import "../../../bower_components/patternfly/less/datatables";
@import "../../../bower_components/patternfly/less/footer";
@import "../../../bower_components/patternfly/less/icons";
@import "../../../bower_components/patternfly/less/infotip";
@import "../../../bower_components/patternfly/less/layouts";
//@import "../../../bower_components/patternfly/less/login";
@import "../../../bower_components/patternfly/less/navbar";
@import "../../../bower_components/patternfly/less/navbar-alt";
@import "../../../bower_components/patternfly/less/nav-vertical-alt";
//@import "../../../bower_components/patternfly/less/search";
@import "../../../bower_components/patternfly/less/sidebar";
@import "../../../bower_components/patternfly/less/spinner";
@import "../../../bower_components/patternfly/less/syntax-highlighting";
@import "../../../bower_components/patternfly/less/toast";
@import "../../../bower_components/patternfly/less/toolbar";



/*
 * Bootstrap and PatternFly variable overrides
 */
// Paths are relative to the generated CSS file in 'org/jboss/hal/public/css'
@fa-font-path:          "../fonts";
@icon-font-path:        "../fonts/";
@font-path:             "../fonts";
@img-path:              "../img";
//noinspection CssUnknownTarget
@navbar-pf-alt-bg-img:  url("../img/bg-navbar-pf-alt.svg");



/*
 * HAL (please keep the order)
 */
@import "variables";
@import "mixins";
@import "layout";
@import "finder";

@import "typeahead";
@import "form";
@import "tabs";
@import "table";
@import "tree";
@import "dialog";
@import "modelbrowser";

@import "bootstrap";
@import "homepage";
@import "header";
@import "footer";
