// Customizing Bootstrap and PatternFly payload according to
// http://blog.andresgalante.com/howto/2015/03/06/patternfly-part-2.html



/*
 * Fonts
 */
@import "../../../bower_components/patternfly/less/fonts";
@import "../../../bower_components/patternfly/less/lib/font-awesome/variables";
@import "../../../bower_components/patternfly/less/lib/font-awesome/mixins";
@import "../../../bower_components/patternfly/less/lib/font-awesome/path";
@import "../../../bower_components/patternfly/less/lib/font-awesome/core";
@import "../../../bower_components/patternfly/less/lib/font-awesome/larger";
@import "../../../bower_components/patternfly/less/lib/font-awesome/fixed-width";
@import "../../../bower_components/patternfly/less/lib/font-awesome/list";
@import "../../../bower_components/patternfly/less/lib/font-awesome/bordered-pulled";
@import "../../../bower_components/patternfly/less/lib/font-awesome/animated";
@import "../../../bower_components/patternfly/less/lib/font-awesome/rotated-flipped";
@import "../../../bower_components/patternfly/less/lib/font-awesome/stacked";
@import "../../../bower_components/patternfly/less/lib/font-awesome/icons";



/*!
 * Bootstrap v3.3.5 (http://getbootstrap.com)
 * Copyright 2011-2015 Twitter, Inc.
 * Licensed under MIT (https://github.com/twbs/bootstrap/blob/master/LICENSE)
 */

// Core variables and mixins (don't touch)
@import "../../../bower_components/patternfly/less/lib/bootstrap/variables";
@import "../../../bower_components/patternfly/less/lib/bootstrap/mixins";

// Reset and dependencies (don't touch)
@import "../../../bower_components/patternfly/less/lib/bootstrap/normalize";
@import "../../../bower_components/patternfly/less/lib/bootstrap/print";
@import "../../../bower_components/patternfly/less/lib/bootstrap/glyphicons";

// Core CSS (don't touch)
@import "../../../bower_components/patternfly/less/lib/bootstrap/scaffolding";
@import "../../../bower_components/patternfly/less/lib/bootstrap/type";
@import "../../../bower_components/patternfly/less/lib/bootstrap/code";
@import "../../../bower_components/patternfly/less/lib/bootstrap/grid";
@import "../../../bower_components/patternfly/less/lib/bootstrap/tables";
@import "../../../bower_components/patternfly/less/lib/bootstrap/forms";
@import "../../../bower_components/patternfly/less/lib/bootstrap/buttons";

// Components (disable components we don't use)
@import "../../../bower_components/patternfly/less/lib/bootstrap/component-animations";
@import "../../../bower_components/patternfly/less/lib/bootstrap/dropdowns";
@import "../../../bower_components/patternfly/less/lib/bootstrap/button-groups";
@import "../../../bower_components/patternfly/less/lib/bootstrap/input-groups";
@import "../../../bower_components/patternfly/less/lib/bootstrap/navs";
@import "../../../bower_components/patternfly/less/lib/bootstrap/navbar";
@import "../../../bower_components/patternfly/less/lib/bootstrap/breadcrumbs";
@import "../../../bower_components/patternfly/less/lib/bootstrap/pagination";
//@import "../../../bower_components/patternfly/less/lib/bootstrap/pager";
//@import "../../../bower_components/patternfly/less/lib/bootstrap/labels";
@import "../../../bower_components/patternfly/less/lib/bootstrap/badges";
//@import "../../../bower_components/patternfly/less/lib/bootstrap/jumbotron";
//@import "../../../bower_components/patternfly/less/lib/bootstrap/thumbnails";
@import "../../../bower_components/patternfly/less/lib/bootstrap/alerts";
@import "../../../bower_components/patternfly/less/lib/bootstrap/progress-bars";
//@import "../../../bower_components/patternfly/less/lib/bootstrap/media";
@import "../../../bower_components/patternfly/less/lib/bootstrap/list-group";
@import "../../../bower_components/patternfly/less/lib/bootstrap/panels";
//@import "../../../bower_components/patternfly/less/lib/bootstrap/responsive-embed";
//@import "../../../bower_components/patternfly/less/lib/bootstrap/wells";
@import "../../../bower_components/patternfly/less/lib/bootstrap/close";

// Components w/ JavaScript
@import "../../../bower_components/patternfly/less/lib/bootstrap/modals";
@import "../../../bower_components/patternfly/less/lib/bootstrap/tooltip";
//@import "../../../bower_components/patternfly/less/lib/bootstrap/popovers";
//@import "../../../bower_components/patternfly/less/lib/bootstrap/carousel";

// Utility classes
@import "../../../bower_components/patternfly/less/lib/bootstrap/utilities";
@import "../../../bower_components/patternfly/less/lib/bootstrap/responsive-utilities";



/*
 * Tag Manager
 */
@import "../../../bower_components/tagmanager/tagmanager";



/*
 * PatternFly
 */
// Bootstrap variables and mixins
@import "../../../bower_components/patternfly/less/lib/bootstrap/variables.less";
@import "../../../bower_components/patternfly/less/lib/bootstrap/mixins.less";
// Font Awesome variables
@import "../../../bower_components/patternfly/less/lib/font-awesome/variables.less";

// Bootstrap-Combobox
@import "../../../bower_components/patternfly/less/lib/bootstrap-combobox/combobox.less";
// Bootstrap-Datepicker
//@import "../../../bower_components/patternfly/less/lib/bootstrap-datepicker/datepicker3.less";
// Bootstrap-Select
@import "../../../bower_components/patternfly/less/lib/bootstrap-select/bootstrap-select.less";
// Bootstrap Switch
@import "../../../bower_components/patternfly/less/lib/bootstrap-switch/bootstrap-switch.less";
// Bootstrap Touchspin
//@import (less) "../../../bower_components/patternfly/less/lib/bootstrap-touchspin/jquery.bootstrap-touchspin.css";
// C3 charts
@import (less) "../../../bower_components/patternfly/less/lib/c3/c3.css";

@import "../../../bower_components/patternfly/less/alerts.less";
@import "../../../bower_components/patternfly/less/badges.less";
@import "../../../bower_components/patternfly/less/breadcrumbs.less";
@import "../../../bower_components/patternfly/less/buttons.less";
@import "../../../bower_components/patternfly/less/dropdowns.less";
@import "../../../bower_components/patternfly/less/forms.less";
@import "../../../bower_components/patternfly/less/labels.less";
@import "../../../bower_components/patternfly/less/list-group.less";
@import "../../../bower_components/patternfly/less/modals.less";
@import "../../../bower_components/patternfly/less/pager.less";
@import "../../../bower_components/patternfly/less/pagination.less";
@import "../../../bower_components/patternfly/less/panels.less";
@import "../../../bower_components/patternfly/less/popovers.less";
@import "../../../bower_components/patternfly/less/progress-bars.less";
@import "../../../bower_components/patternfly/less/tables.less";
@import "../../../bower_components/patternfly/less/tabs.less";
@import "../../../bower_components/patternfly/less/tooltip.less";
@import "../../../bower_components/patternfly/less/type.less";

@import "../../../bower_components/patternfly/less/variables.less";
@import "../../../bower_components/patternfly/less/mixins.less";
@import "../../../bower_components/patternfly/less/blank-slate.less";
@import "../../../bower_components/patternfly/less/bootstrap-combobox.less";
//@import "../../../bower_components/patternfly/less/bootstrap-datepicker.less";
@import "../../../bower_components/patternfly/less/bootstrap-select.less";
@import "../../../bower_components/patternfly/less/bootstrap-switch.less";
//@import "../../../bower_components/patternfly/less/bootstrap-touchspin.less";
//@import "../../../bower_components/patternfly/less/bootstrap-treeview.less";
@import "../../../bower_components/patternfly/less/cards.less";
@import "../../../bower_components/patternfly/less/charts.less";
@import "../../../bower_components/patternfly/less/close.less";
@import "../../../bower_components/patternfly/less/datatables.less";
@import "../../../bower_components/patternfly/less/footer.less";
@import "../../../bower_components/patternfly/less/icons.less";
@import "../../../bower_components/patternfly/less/infotip.less";
@import "../../../bower_components/patternfly/less/layouts.less";
@import "../../../bower_components/patternfly/less/list-view.less";
//@import "../../../bower_components/patternfly/less/login.less";
@import "../../../bower_components/patternfly/less/navbar.less";
@import "../../../bower_components/patternfly/less/navbar-alt.less";
@import "../../../bower_components/patternfly/less/navbar-vertical.less";
@import "../../../bower_components/patternfly/less/nav-vertical-alt.less";
@import "../../../bower_components/patternfly/less/search.less";
@import "../../../bower_components/patternfly/less/sidebar.less";
@import "../../../bower_components/patternfly/less/spinner.less";
@import "../../../bower_components/patternfly/less/syntax-highlighting.less";
@import "../../../bower_components/patternfly/less/toast.less";
@import "../../../bower_components/patternfly/less/toolbar.less";
@import "../../../bower_components/patternfly/less/vertical-nav.less";



/*
 * Bootstrap and PatternFly variable overrides
 */
// Paths are relative to the generated CSS file in 'org/jboss/hal/public/css'
@fa-font-path:          "../fonts";
@icon-font-path:        "../fonts/";
@font-path:             "../fonts";
@img-path:              "../img";
//noinspection CssUnknownTarget
@navbar-pf-alt-bg-img:  url("../img/bg-navbar-pf-alt.svg");



/*
 * HAL
 */
@import "variables";
@import "mixins";
@import "layout";
@import "verticalnav";
@import "finder";

@import "typeahead";
@import "form";
@import "editor";
@import "tabs";
@import "table";
@import "tree";
@import "dialog";
@import "macroeditor";
@import "modelbrowser";

@import "bootstrap";
@import "homepage";
@import "header";
@import "footer";
