body {
  padding-top: @hal-header-height;
  @media (max-width: @screen-sm) {
    padding-top: @hal-header-height-sm;
  }
  padding-bottom: @hal-footer-height;
}

.margin-top-10 {
  margin-top: 10px
}

.padding-left-4 {
  padding-left: 4px;
}