.layout-pf.layout-pf-fixed body {
  padding-top: @hal-header-height;
  @media (max-width: @screen-sm) {
    padding-top: @hal-header-height-sm;
  }
  padding-bottom: @hal-footer-height;
}

.padding-left-4 {
  padding-left: 4px;
}

.margin-top-20 {
  margin-top: 20px;
}

.pficon-disabled-circle-o:before {
  color: #666;
  content: "\e61d";
}

.fa.grey:before {
  color: #666;
}