.log-file-controls {
  align-items: center;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  margin-bottom: 10px;
}

.log-file-status {
  align-self: center;
  flex: 2;
  min-width: 50px;
  .text-overflow();
}

.log-file-follow {
  align-items: center;
  display: flex;
  flex-flow: row nowrap;
  label {
    font-weight: normal;
    margin-bottom: 0;
    margin-right: 10px;
  }
}

.log-file-controls {
  .hal-search, .log-file-status, .log-file-follow {
    margin-right: 20px;
  }
}

.log-file-buttons {
  .btn {
    box-shadow: none;
  }
}

.log-file-editor-container {
  margin-bottom: 20px;

  .spinner {
    display: none;
    position: relative;
  }

  &.log-file-loading {
    #log-file-editor {
      opacity: .3;
    }

    .spinner {
      display: block;
    }
  }
}

#log-file-editor {
  border: 1px solid #ccc;
  font-size: 11px;
}
