.datatable.hover {
  tbody tr:hover {
    background-color: #d1d1d1;
  }
  tbody td.dataTables_empty:hover {
    background-color: #fff;
  }
}

.datatable {
  tr.selected td {
    background-color: #bee1f4;
  }

  .focus {
    outline: 1px dashed #666;
  }

  .selected .focus {
    outline: none;
  }
}