/*
 * Adjust the top and bottom position to the header and footer used in HAL.
 */
.nav-pf-vertical-hal, .nav-pf-secondary-nav-hal {
  bottom: @hal-footer-height;
  min-height: 1px;
  top: (@hal-header-height - 1px);
  z-index: 1000; // lower z-index to make the breadcrumb dropdown visible again

  @media (max-width: 767px) {
    top: 38px;
  }
}
