---
name: HAL Console Build

on:
  push:
    branches: [ develop ]

jobs:
  quick-build:
    name: HAL build w/o GWT compilation on JDK 11
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Setup Java JDK
        uses: actions/setup-java@v2.5.0
        with:
          distribution: 'adopt'
          java-version: '11'
          cache: 'maven'
      - name: Build with Maven
        run: mvn -B -ff -P skip-gwt package
