name: Build Native Binaries

on:
  release:
    types: [created]

jobs:

  linux:
    name: Linux Binary
    runs-on: ubuntu-latest
    env:
      MVN: ./mvnw --show-version --batch-mode
    steps:
      - name: Checkout
        id: checkout
        uses: actions/checkout@v6
      - name: Setup GraalVM environment
        id: setup-graalvm
        uses: DeLaGuardo/setup-graalvm@5.0
        with:
          graalvm: 22.3.0
          java: java11
      - name: Read Version
        id: read-version
        run: |
          VERSION=$( ./mvnw help:evaluate -Dexpression=project.version --non-recursive --quiet -DforceStdout )
          echo "::set-output name=version::$VERSION"
      - name: Wait for Maven Central
        id: wait-for-maven-central
        uses: iFaxity/wait-on-action@v1
        with:
          resource: https://repo1.maven.org/maven2/org/jboss/hal/hal-bom/${{ steps.read-version.outputs.version }}/hal-bom-${{ steps.read-version.outputs.version }}.pom
          interval: 60000 # 1 minute
          timeout: 3600000 # 1 hour
      - name: Install Native Image
        id: install-native-image
        run: gu install native-image
      - name: Build
        id: build
        run: $MVN package --projects standalone --also-make -P native,prod,theme-hal
      - name: Upload
        id: upload
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ github.event.release.upload_url }}
          asset_path: ./standalone/target/hal-standalone-${{ steps.read-version.outputs.version }}-runner
          asset_name: halconsole-${{ steps.read-version.outputs.version }}-linux
          asset_content_type: application/octet-stream

  macos:
    name: macOS Binary
    runs-on: macos-latest
    env:
      MVN: mvn --show-version --batch-mode
    steps:
      - name: Checkout
        id: checkout
        uses: actions/checkout@v6
      - name: Setup GraalVM environment
        id: setup-graalvm
        uses: DeLaGuardo/setup-graalvm@5.0
        with:
          graalvm: 22.3.0
          java: java11
      - name: Read Version
        id: read-version
        run: |
          VERSION=$( ./mvnw help:evaluate -Dexpression=project.version --non-recursive --quiet -DforceStdout )
          echo "::set-output name=version::$VERSION"
      - name: Wait for Maven Central
        id: wait-for-maven-central
        uses: iFaxity/wait-on-action@v1
        with:
          resource: https://repo1.maven.org/maven2/org/jboss/hal/hal-bom/${{ steps.read-version.outputs.version }}/hal-bom-${{ steps.read-version.outputs.version }}.pom
          interval: 60000 # 1 minute
          timeout: 3600000 # 1 hour
      - name: Install Native Image
        id: install-native-image
        run: gu install native-image
      - name: Build
        id: build
        run: $MVN package --projects standalone --also-make -P native,prod,theme-hal
      - name: Upload
        id: upload
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ github.event.release.upload_url }}
          asset_path: ./standalone/target/hal-standalone-${{ steps.read-version.outputs.version }}-runner
          asset_name: halconsole-${{ steps.read-version.outputs.version }}-macos
          asset_content_type: application/octet-stream

  windows:
    runs-on: windows-2019
    name: Windows Binary
    env:
      MVN: .\mvnw.cmd --show-version --batch-mode
    steps:
      - name: Checkout
        id: checkout
        uses: actions/checkout@v6
      - name: Setup GraalVM environment
        id: setup-graalvm
        uses: DeLaGuardo/setup-graalvm@5.0
        with:
          graalvm: 22.3.0
          java: java11
      - name: Read Version
        id: read-version
        run: |
          $version = (cmd /c ".\mvnw.cmd help:evaluate -Dexpression=project.version --non-recursive --quiet -DforceStdout") | Out-String
          echo "::set-output name=version::${version}"
      - name: Wait for Maven Central
        id: wait-for-maven-central
        uses: iFaxity/wait-on-action@v1
        with:
          resource: https://repo1.maven.org/maven2/org/jboss/hal/hal-bom/${{ steps.read-version.outputs.version }}/hal-bom-${{ steps.read-version.outputs.version }}.pom
          interval: 60000 # 1 minute
          timeout: 3600000 # 1 hour
      - name: Install Native Image
        id: install-native-image
        run: gu.cmd install native-image
      - name: Configure Pagefile
        id: configure-pagefile
        uses: al-cheb/configure-pagefile-action@v1.5
      - name: Setup MSVC
        id: setup-msvc
        uses: ilammy/msvc-dev-cmd@v1.13.0
      - name: Build
        id: build
        run: |
          "C:\Program Files (x86)\Microsoft Visual Studio\2017\BuildTools\VC\Auxiliary\Build\vcvars64.bat"
          .\mvnw.cmd package -Pnative
      - name: Upload
        id: upload
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ github.event.release.upload_url }}
          asset_path: .\standalone\target\hal-standalone-${{ steps.read-version.outputs.version }}-runner.exe
          asset_name: halconsole-${{ steps.read-version.outputs.version }}-win64.exe
          asset_content_type: application/octet-stream
