name: WildFly Development Image

on:
  workflow_dispatch:
  schedule:
    - cron: '0 0 * * *'

jobs:
  wildfly:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        id: checkout
        uses: actions/checkout@v6
      - name: Set up JDK
        id: setup-jdk
        uses: actions/setup-java@v5
        with:
          java-version: 17
          distribution: temurin
          cache: maven
      - name: Build WildFly
        id: build-wildfly
        run: wildfly/build-wildfly.sh --no-color
      - name: Login to Quay.io
        id: login-to-quay-io
        uses: docker/login-action@v3
        with:
          registry: quay.io
          username: ${{ secrets.QUAY_USERNAME }}
          password: ${{ secrets.QUAY_ROBOT_TOKEN }}
      - name: Push WildFly
        id: push-wildfly
        run: wildfly/push-wildfly.sh --no-color
